---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ParticlesBackground from "../components/ParticlesBackground.svelte";
import ClickCounter from "../components/clickCounter.svelte";
import Portfolio from "../layouts/portfolio.astro"
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <ParticlesBackground client:only="svelte" />
        <Header />
        <main>
            <Portfolio/>
        </main>
        <Footer />
    </body>
</html> 